.feature {
  background-color: var(--color-admonition-title--hint);
  padding: 2px 10px;
  color: #1a1c1e;
  font-style: italic;
  border-radius: 4px;
}

/* make cell outputs brighter */
.cell_output.docutils.container {
  filter: brightness(0.4) invert() saturate(5);
  z-index: 999;
  position:relative;
}

pre {
  font-size: 0.8em;
}

.hide.below-input span {
  color: var(--color-highlighted-text);
}

div.cell details.below-input > summary {
  background-color: var(--color-background-primary);
}

.cell_output pre {
  border: 1px solid var(--color-code-foreground);
  padding: 1em;
  border-radius: 5px;
}
div.cell div.cell_input, div.cell details.above-input > summary {
  border-left-color: unset;
}

div.cell details.below-input > summary {
  border-left-color: unset;
}